--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
torchvision==0.21.0+cpu
open_clip_torch
transformers
accelerate
Pillow
requests
tqdm
streamlit
plotly
wandb
umap-learn
matplotlib
seaborn
scikit-learn
huggingface_hub